@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ebe9e9;
}

header {
  width: 100%;
  height: 70px;
  background: #ffffff;
}

header .logo {
  text-decoration: none;
}
header .logo img {
  width: 45px;
}

header .logo span {
  color: #000;
  font-weight: 800;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 5rem;
}

header button.rounded-circle {
  margin-right: 1rem;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: #f0f5ff !important;
  color: #292929;
}

header button.rounded-circle svg {
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

header button.rounded-circle:hover svg {
  color: #0858f7 !important;
}

.searchBox {
  width: 400px;
  height: 40px;
  background: #f0f5ff;
  border-radius: 6px;
  padding: 3px 15px;
}

.searchBox input {
  background: transparent;
  border: 0px;
  outline: none;
  padding-left: 5px;
  font-size: 14px;
  color: #292929;
}
.searchBox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.searchBox svg {
  font-size: 18px;
  color: #292929;
}

.myAccWrapper Button {
  margin-top: 0px;
}
.myAcc {
  text-align: left !important;
  text-transform: capitalize;
  margin-top: 0px;
}

.myAcc .userImg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 1px solid #0858f7;
  padding: 2px;
  border-radius: 100%;
}

.myAcc .userImg .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.myAcc .userImg .rounded-circle img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.myAcc .userInfo {
  padding-left: 10px;
}
.myAcc .userInfo h4 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0px;
}

.myAcc .userInfo p {
  margin-top: 0px;
  font-size: 10px;
  color: #000;
  opacity: 0.7;
}

#notifications .MuiPaper-elevation {
  right: 14% !important;
  width: 250px !important;
  left: auto !important;
}
