@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ebe9e9;
}

::-webkit-scrrollbar {
  width: 5px !important;
  height: 5px !important;
}
::-webkit-scrollbar-thumb {
  background: #0858f7 !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}

.btn-blue {
  background: #0858f7 !important;
  font-size: 15px !important;
  font-weight: 500;
  color: white !important;
  margin: 5px 15px;
  border-radius: 5px;
  background-color: #ebf6ff;
}
.css-99wn1p-MuiList-root-MuiMenu-list {
  padding-bottom: 0px !important;
}

header {
  width: 100%;
  height: 70px;
  background: #ffffff;
}

header .logo {
  text-decoration: none;
}
header .logo img {
  width: 45px;
}

header .logo span {
  color: #000;
  font-weight: 800;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 5rem;
}

header button.rounded-circle {
  margin-right: 1rem;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: #f0f5ff !important;
  color: #292929;
}

header button.rounded-circle svg {
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

header button.rounded-circle:hover svg {
  color: #0858f7 !important;
}

.searchBox {
  width: 400px;
  height: 40px;
  background: #f0f5ff;
  border-radius: 6px;
  padding: 3px 15px;
}

.searchBox input {
  background: transparent;
  border: 0px;
  outline: none;
  padding-left: 5px;
  font-size: 14px;
  color: #292929;
}
.searchBox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.searchBox svg {
  font-size: 18px;
  color: #292929;
}

.myAccWrapper Button {
  margin-top: 0px;
}
.myAcc {
  text-align: left !important;
  text-transform: capitalize;
  margin-top: 0px;
}

.userImg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 1px solid #0858f7;
  padding: 2px;
  border-radius: 100%;
}

.userImg .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.userImg .rounded-circle img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.myAcc .userInfo {
  padding-left: 10px;
}
.myAcc .userInfo h4 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0px;
}

.myAcc .userInfo p {
  margin-top: 0px;
  font-size: 10px;
  color: #000;
  opacity: 0.7;
}

#notifications .MuiPaper-elevation {
  right: 240px !important;
  width: 310px !important;
  left: auto !important;
}

.dropdown_list .head {
  padding: 10px 0px;
}

.dropdown_list .head h4 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 0px !important;
  padding-left: 10px !important;
}
.dropdown_list li.MuiButtonBase-root {
  background: #ebf6ff !important;
  color: #000;
  padding: 10px 15px !important;
}

.dropdown_list li.MuiButtonBase-root:hover {
  background: #d7eaf9;
}
.dropdownInfo {
  padding-left: 15px;
  padding-top: 5px;
}
.dropdownInfo h4 {
  font-size: 13px;
  font-weight: 500;
  white-space: break-spaces;
  line-height: 20px;
  margin-top: 0px;
}
.dropdownInfo h4 b {
  font-weight: 600;
  margin-right: 5px;
}
.dropdownInfo p {
  font-size: 12px;
  font-weight: 500;
  margin-top: 0px;
  padding-left: 10px;
}

.text-sky {
  color: #0858f7;
}

.dropdown_list .scroll {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
