@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ebe9e9;
}

header {
  width: 100%;
  height: 70px;
  background: #ffffff;
}

header .logo {
  text-decoration: none;
}
header .logo img {
  width: 45px;
}

header .logo span {
  color: #000;
  font-weight: 800;
  font-size: 24px;
  margin-left: 10px;
}

header button.rounded-circle {
  margin-left: 5rem;
  margin-right: 1rem;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: #f0f5ff !important;
  color: #292929;
}

header button.rounded-circle svg {
  font-size: 18px;
}

.searchBox {
  width: 400px;
  height: 40px;
  background: #f0f5ff;
  border-radius: 6px;
  padding: 3px 15px;
}

.searchBox input {
  background: transparent;
  border: 0px;
  outline: none;
  padding-left: 5px;
  font-size: 14px;
  color: #292929;
}
.searchBox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.searchBox svg {
  font-size: 18px;
  color: #292929;
}
